directory= "+compiler-libs"

package "compiler-libs-opttoplevel" (
  requires = "compiler-libs.optcomp dynlink"
  version = "[distributed with Ocaml]"
  description = "Native Toplevel interactions"
  archive(byte) = "ocamlopttoplevel.cma"
  archive(native) = "ocamlopttoplevel.cmxa"
)
